In [28]:
import requests
from bs4 import BeautifulSoup as bs

In [29]:
# 실제 사이트에서 html 정보를 받아와서 변수에 저장
data = requests.get('https://finance.naver.com/marketindex/exchangeList.naver').text

# <Response [200]> : 정상적으로 접속했고 데이터를 잘 가져왔다는 의미

In [30]:
# BeautifulSopu을 이용하여 데이터를 파싱
soup = bs(data, 'html.parser')

In [31]:
# find는 html안에서 해당 태그의 첫번째 정보를 출력
tbody = soup.find('tbody')

In [42]:
# find_all() 해당 태그의 전체 정보를 리스트의 형태로 출력
data_list = soup.find_all('td')

In [ ]:
data_list2 = tbody.find_all('tr')
data_list2

In [44]:
# data_list를 이용하여 2차원 배열로 새로운 리스트를 생성
# 1차원 리스트 생성
# [[7개씩], [7개씩], [7개씩], [7개씩]] -> 2차원 리스트
_list = []
for i in data_list:
    x = i.get_text()
    x = x.replace('\n', '')
    x = x.strip('\t')
    _list.append(x)
_list

['미국 USD',
 '1,316.70',
 '1,339.74',
 '1,293.66',
 '1,329.60',
 '1,303.80',
 '1.000',
 '유럽연합 EUR',
 '1,445.74',
 '1,474.51',
 '1,416.97',
 '1,460.19',
 '1,431.29',
 '1.098',
 '일본 JPY (100엔)',
 '981.62',
 '998.79',
 '964.45',
 '991.23',
 '972.01',
 '0.746',
 '중국 CNY',
 '191.46',
 '201.03',
 '181.89',
 '193.37',
 '189.55',
 '0.145',
 '홍콩 HKD',
 '167.77',
 '171.07',
 '164.47',
 '169.44',
 '166.10',
 '0.127',
 '대만 TWD',
 '43.16',
 '48.81',
 '38.85',
 'N/A',
 'N/A',
 '0.033',
 '영국 GBP',
 '1,636.00',
 '1,668.22',
 '1,603.78',
 '1,652.36',
 '1,619.64',
 '1.243',
 '오만 OMR',
 '3,419.82',
 '3,724.18',
 '3,214.64',
 'N/A',
 'N/A',
 '2.597',
 '캐나다 CAD',
 '983.24',
 '1,002.60',
 '963.88',
 '993.07',
 '973.41',
 '0.747',
 '스위스 CHF',
 '1,468.88',
 '1,497.81',
 '1,439.95',
 '1,483.56',
 '1,454.20',
 '1.116',
 '스웨덴 SEK',
 '127.71',
 '130.83',
 '124.59',
 '128.98',
 '126.44',
 '0.097',
 '호주 AUD',
 '886.47',
 '903.93',
 '869.01',
 '895.33',
 '877.61',
 '0.673',
 '뉴질랜드 NZD',
 '817.47',
 '833.57',
 '801.37',
 '825.64',
 '809.30',
 '0.621',
 '체코 CZK',
 '61.66',
 '66.90',
 '56.12',
 '62.33',
 '60.99',
 '0.047',
 '칠레 CLP',
 '1.66',
 '1.82',
 '1.50',
 'N/A',
 'N/A',
 '0.001',
 '튀르키예 TRY',
 '67.88',
 'N/A',
 'N/A',
 '68.62',
 '67.14',
 '0.052',
 '몽골 MNT',
 '0.38',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.000',
 '이스라엘 ILS',
 '360.97',
 '397.06',
 '332.10',
 'N/A',
 'N/A',
 '0.274',
 '덴마크 DKK',
 '194.01',
 '198.76',
 '189.26',
 '195.95',
 '192.07',
 '0.147',
 '노르웨이 NOK',
 '125.73',
 '128.81',
 '122.65',
 '126.98',
 '124.48',
 '0.096',
 '사우디아라비아 SAR',
 '351.05',
 '373.16',
 '326.83',
 '354.56',
 '347.54',
 '0.267',
 '쿠웨이트 KWD',
 '4,296.76',
 '4,576.04',
 '3,953.02',
 '4,339.72',
 '4,253.80',
 '3.263',
 '바레인 BHD',
 '3,492.30',
 '3,715.80',
 '3,212.92',
 '3,527.22',
 '3,457.38',
 '2.652',
 '아랍에미리트 AED',
 '358.54',
 '378.25',
 '333.81',
 '362.12',
 '354.96',
 '0.272',
 '요르단 JOD',
 '1,856.08',
 '2,021.27',
 '1,707.60',
 'N/A',
 'N/A',
 '1.410',
 '이집트 EGP',
 '42.61',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.032',
 '태국 THB',
 '38.40',
 '40.32',
 '36.10',
 '38.78',
 '38.02',
 '0.029',
 '싱가포르 SGD',
 '988.03',
 '1,007.69',
 '968.37',
 '997.91',
 '978.15',
 '0.750',
 '말레이시아 MYR',
 '297.06',
 '315.77',
 '275.08',
 'N/A',
 '294.09',
 '0.226',
 '인도네시아 IDR 100',
 '8.89',
 '9.77',
 '8.01',
 '8.97',
 '8.81',
 '0.007',
 '카타르 QAR',
 '360.92',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.274',
 '카자흐스탄 KZT',
 '2.91',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.002',
 '브루나이 BND',
 '988.03',
 '1,027.55',
 '928.75',
 'N/A',
 'N/A',
 '0.750',
 '인도 INR',
 '16.04',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.012',
 '파키스탄 PKR',
 '4.64',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.004',
 '방글라데시 BDT',
 '12.40',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.009',
 '필리핀 PHP',
 '23.53',
 '25.88',
 '21.61',
 '23.76',
 '23.30',
 '0.018',
 '멕시코 MXN',
 '72.95',
 '80.24',
 '66.83',
 '73.67',
 '72.23',
 '0.055',
 '브라질 BRL',
 '264.08',
 '291.01',
 '237.68',
 'N/A',
 '260.92',
 '0.201',
 '베트남 VND 100',
 '5.60',
 '6.26',
 '4.94',
 '5.65',
 '5.55',
 '0.004',
 '남아프리카 공화국 ZAR',
 '72.47',
 '78.26',
 '66.68',
 '73.33',
 '71.61',
 '0.055',
 '러시아 RUB',
 '16.10',
 '17.62',
 '13.29',
 '16.66',
 '15.54',
 '0.012',
 '헝가리 HUF',
 '3.89',
 '4.25',
 '3.58',
 '3.93',
 '3.85',
 '0.003',
 '폴란드 PLN',
 '311.53',
 '336.45',
 '286.61',
 '314.95',
 '308.11',
 '0.237',
 '스리랑카 LKR',
 '4.11',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.003',
 '알제리 DZD',
 '9.71',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.007',
 '케냐 KES',
 '9.75',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.007',
 '콜롬비아 COP',
 '0.29',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.000',
 '탄자니아 TZS',
 '0.56',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.000',
 '네팔 NPR',
 '10.03',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.008',
 '루마니아 RON',
 '292.82',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.222',
 '리비아 LYD',
 '276.20',
 'N/A',
 'N/A',
 '278.96',
 '273.44',
 '0.210',
 '마카오 MOP',
 '162.80',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.124',
 '미얀마 MMK',
 '0.63',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.001',
 '에티오피아 ETB',
 '24.17',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.018',
 '우즈베키스탄 UZS',
 '0.12',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.000',
 '캄보디아 KHR',
 '0.32',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.000',
 '피지 FJD',
 '590.14',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '0.448']

In [51]:
result = []
for i in range(0,(len(_list)//7), 1):
    x = []
    for j in range(i*7, (i+1)*7, 1):
        x.append(_list[j])
    result.append(x)
result

#list(range(0,(len(_list))//7, 1))

[['미국 USD',
  '1,316.70',
  '1,339.74',
  '1,293.66',
  '1,329.60',
  '1,303.80',
  '1.000'],
 ['유럽연합 EUR',
  '1,445.74',
  '1,474.51',
  '1,416.97',
  '1,460.19',
  '1,431.29',
  '1.098'],
 ['일본 JPY (100엔)', '981.62', '998.79', '964.45', '991.23', '972.01', '0.746'],
 ['중국 CNY', '191.46', '201.03', '181.89', '193.37', '189.55', '0.145'],
 ['홍콩 HKD', '167.77', '171.07', '164.47', '169.44', '166.10', '0.127'],
 ['대만 TWD', '43.16', '48.81', '38.85', 'N/A', 'N/A', '0.033'],
 ['영국 GBP',
  '1,636.00',
  '1,668.22',
  '1,603.78',
  '1,652.36',
  '1,619.64',
  '1.243'],
 ['오만 OMR', '3,419.82', '3,724.18', '3,214.64', 'N/A', 'N/A', '2.597'],
 ['캐나다 CAD', '983.24', '1,002.60', '963.88', '993.07', '973.41', '0.747'],
 ['스위스 CHF',
  '1,468.88',
  '1,497.81',
  '1,439.95',
  '1,483.56',
  '1,454.20',
  '1.116'],
 ['스웨덴 SEK', '127.71', '130.83', '124.59', '128.98', '126.44', '0.097'],
 ['호주 AUD', '886.47', '903.93', '869.01', '895.33', '877.61', '0.673'],
 ['뉴질랜드 NZD', '817.47', '833.57', '801.37', '825.64', '809.30', '0.621'],
 ['체코 CZK', '61.66', '66.90', '56.12', '62.33', '60.99', '0.047'],
 ['칠레 CLP', '1.66', '1.82', '1.50', 'N/A', 'N/A', '0.001'],
 ['튀르키예 TRY', '67.88', 'N/A', 'N/A', '68.62', '67.14', '0.052'],
 ['몽골 MNT', '0.38', 'N/A', 'N/A', 'N/A', 'N/A', '0.000'],
 ['이스라엘 ILS', '360.97', '397.06', '332.10', 'N/A', 'N/A', '0.274'],
 ['덴마크 DKK', '194.01', '198.76', '189.26', '195.95', '192.07', '0.147'],
 ['노르웨이 NOK', '125.73', '128.81', '122.65', '126.98', '124.48', '0.096'],
 ['사우디아라비아 SAR', '351.05', '373.16', '326.83', '354.56', '347.54', '0.267'],
 ['쿠웨이트 KWD',
  '4,296.76',
  '4,576.04',
  '3,953.02',
  '4,339.72',
  '4,253.80',
  '3.263'],
 ['바레인 BHD',
  '3,492.30',
  '3,715.80',
  '3,212.92',
  '3,527.22',
  '3,457.38',
  '2.652'],
 ['아랍에미리트 AED', '358.54', '378.25', '333.81', '362.12', '354.96', '0.272'],
 ['요르단 JOD', '1,856.08', '2,021.27', '1,707.60', 'N/A', 'N/A', '1.410'],
 ['이집트 EGP', '42.61', 'N/A', 'N/A', 'N/A', 'N/A', '0.032'],
 ['태국 THB', '38.40', '40.32', '36.10', '38.78', '38.02', '0.029'],
 ['싱가포르 SGD', '988.03', '1,007.69', '968.37', '997.91', '978.15', '0.750'],
 ['말레이시아 MYR', '297.06', '315.77', '275.08', 'N/A', '294.09', '0.226'],
 ['인도네시아 IDR 100', '8.89', '9.77', '8.01', '8.97', '8.81', '0.007'],
 ['카타르 QAR', '360.92', 'N/A', 'N/A', 'N/A', 'N/A', '0.274'],
 ['카자흐스탄 KZT', '2.91', 'N/A', 'N/A', 'N/A', 'N/A', '0.002'],
 ['브루나이 BND', '988.03', '1,027.55', '928.75', 'N/A', 'N/A', '0.750'],
 ['인도 INR', '16.04', 'N/A', 'N/A', 'N/A', 'N/A', '0.012'],
 ['파키스탄 PKR', '4.64', 'N/A', 'N/A', 'N/A', 'N/A', '0.004'],
 ['방글라데시 BDT', '12.40', 'N/A', 'N/A', 'N/A', 'N/A', '0.009'],
 ['필리핀 PHP', '23.53', '25.88', '21.61', '23.76', '23.30', '0.018'],
 ['멕시코 MXN', '72.95', '80.24', '66.83', '73.67', '72.23', '0.055'],
 ['브라질 BRL', '264.08', '291.01', '237.68', 'N/A', '260.92', '0.201'],
 ['베트남 VND 100', '5.60', '6.26', '4.94', '5.65', '5.55', '0.004'],
 ['남아프리카 공화국 ZAR', '72.47', '78.26', '66.68', '73.33', '71.61', '0.055'],
 ['러시아 RUB', '16.10', '17.62', '13.29', '16.66', '15.54', '0.012'],
 ['헝가리 HUF', '3.89', '4.25', '3.58', '3.93', '3.85', '0.003'],
 ['폴란드 PLN', '311.53', '336.45', '286.61', '314.95', '308.11', '0.237'],
 ['스리랑카 LKR', '4.11', 'N/A', 'N/A', 'N/A', 'N/A', '0.003'],
 ['알제리 DZD', '9.71', 'N/A', 'N/A', 'N/A', 'N/A', '0.007'],
 ['케냐 KES', '9.75', 'N/A', 'N/A', 'N/A', 'N/A', '0.007'],
 ['콜롬비아 COP', '0.29', 'N/A', 'N/A', 'N/A', 'N/A', '0.000'],
 ['탄자니아 TZS', '0.56', 'N/A', 'N/A', 'N/A', 'N/A', '0.000'],
 ['네팔 NPR', '10.03', 'N/A', 'N/A', 'N/A', 'N/A', '0.008'],
 ['루마니아 RON', '292.82', 'N/A', 'N/A', 'N/A', 'N/A', '0.222'],
 ['리비아 LYD', '276.20', 'N/A', 'N/A', '278.96', '273.44', '0.210'],
 ['마카오 MOP', '162.80', 'N/A', 'N/A', 'N/A', 'N/A', '0.124'],
 ['미얀마 MMK', '0.63', 'N/A', 'N/A', 'N/A', 'N/A', '0.001'],
 ['에티오피아 ETB', '24.17', 'N/A', 'N/A', 'N/A', 'N/A', '0.018'],
 ['우즈베키스탄 UZS', '0.12', 'N/A', 'N/A', 'N/A', 'N/A', '0.000'],
 ['캄보디아 KHR', '0.32', 'N/A', 'N/A', 'N/A', 'N/A', '0.000'],
 ['피지 FJD', '590.14', 'N/A', 'N/A', 'N/A', 'N/A', '0.448']]

In [56]:
result = []
for i in range(len(_list)//7):
    result.append(_list[i*7:(i+1)*7])
result

[['미국 USD',
  '1,316.70',
  '1,339.74',
  '1,293.66',
  '1,329.60',
  '1,303.80',
  '1.000'],
 ['유럽연합 EUR',
  '1,445.74',
  '1,474.51',
  '1,416.97',
  '1,460.19',
  '1,431.29',
  '1.098'],
 ['일본 JPY (100엔)', '981.62', '998.79', '964.45', '991.23', '972.01', '0.746'],
 ['중국 CNY', '191.46', '201.03', '181.89', '193.37', '189.55', '0.145'],
 ['홍콩 HKD', '167.77', '171.07', '164.47', '169.44', '166.10', '0.127'],
 ['대만 TWD', '43.16', '48.81', '38.85', 'N/A', 'N/A', '0.033'],
 ['영국 GBP',
  '1,636.00',
  '1,668.22',
  '1,603.78',
  '1,652.36',
  '1,619.64',
  '1.243'],
 ['오만 OMR', '3,419.82', '3,724.18', '3,214.64', 'N/A', 'N/A', '2.597'],
 ['캐나다 CAD', '983.24', '1,002.60', '963.88', '993.07', '973.41', '0.747'],
 ['스위스 CHF',
  '1,468.88',
  '1,497.81',
  '1,439.95',
  '1,483.56',
  '1,454.20',
  '1.116'],
 ['스웨덴 SEK', '127.71', '130.83', '124.59', '128.98', '126.44', '0.097'],
 ['호주 AUD', '886.47', '903.93', '869.01', '895.33', '877.61', '0.673'],
 ['뉴질랜드 NZD', '817.47', '833.57', '801.37', '825.64', '809.30', '0.621'],
 ['체코 CZK', '61.66', '66.90', '56.12', '62.33', '60.99', '0.047'],
 ['칠레 CLP', '1.66', '1.82', '1.50', 'N/A', 'N/A', '0.001'],
 ['튀르키예 TRY', '67.88', 'N/A', 'N/A', '68.62', '67.14', '0.052'],
 ['몽골 MNT', '0.38', 'N/A', 'N/A', 'N/A', 'N/A', '0.000'],
 ['이스라엘 ILS', '360.97', '397.06', '332.10', 'N/A', 'N/A', '0.274'],
 ['덴마크 DKK', '194.01', '198.76', '189.26', '195.95', '192.07', '0.147'],
 ['노르웨이 NOK', '125.73', '128.81', '122.65', '126.98', '124.48', '0.096'],
 ['사우디아라비아 SAR', '351.05', '373.16', '326.83', '354.56', '347.54', '0.267'],
 ['쿠웨이트 KWD',
  '4,296.76',
  '4,576.04',
  '3,953.02',
  '4,339.72',
  '4,253.80',
  '3.263'],
 ['바레인 BHD',
  '3,492.30',
  '3,715.80',
  '3,212.92',
  '3,527.22',
  '3,457.38',
  '2.652'],
 ['아랍에미리트 AED', '358.54', '378.25', '333.81', '362.12', '354.96', '0.272'],
 ['요르단 JOD', '1,856.08', '2,021.27', '1,707.60', 'N/A', 'N/A', '1.410'],
 ['이집트 EGP', '42.61', 'N/A', 'N/A', 'N/A', 'N/A', '0.032'],
 ['태국 THB', '38.40', '40.32', '36.10', '38.78', '38.02', '0.029'],
 ['싱가포르 SGD', '988.03', '1,007.69', '968.37', '997.91', '978.15', '0.750'],
 ['말레이시아 MYR', '297.06', '315.77', '275.08', 'N/A', '294.09', '0.226'],
 ['인도네시아 IDR 100', '8.89', '9.77', '8.01', '8.97', '8.81', '0.007'],
 ['카타르 QAR', '360.92', 'N/A', 'N/A', 'N/A', 'N/A', '0.274'],
 ['카자흐스탄 KZT', '2.91', 'N/A', 'N/A', 'N/A', 'N/A', '0.002'],
 ['브루나이 BND', '988.03', '1,027.55', '928.75', 'N/A', 'N/A', '0.750'],
 ['인도 INR', '16.04', 'N/A', 'N/A', 'N/A', 'N/A', '0.012'],
 ['파키스탄 PKR', '4.64', 'N/A', 'N/A', 'N/A', 'N/A', '0.004'],
 ['방글라데시 BDT', '12.40', 'N/A', 'N/A', 'N/A', 'N/A', '0.009'],
 ['필리핀 PHP', '23.53', '25.88', '21.61', '23.76', '23.30', '0.018'],
 ['멕시코 MXN', '72.95', '80.24', '66.83', '73.67', '72.23', '0.055'],
 ['브라질 BRL', '264.08', '291.01', '237.68', 'N/A', '260.92', '0.201'],
 ['베트남 VND 100', '5.60', '6.26', '4.94', '5.65', '5.55', '0.004'],
 ['남아프리카 공화국 ZAR', '72.47', '78.26', '66.68', '73.33', '71.61', '0.055'],
 ['러시아 RUB', '16.10', '17.62', '13.29', '16.66', '15.54', '0.012'],
 ['헝가리 HUF', '3.89', '4.25', '3.58', '3.93', '3.85', '0.003'],
 ['폴란드 PLN', '311.53', '336.45', '286.61', '314.95', '308.11', '0.237'],
 ['스리랑카 LKR', '4.11', 'N/A', 'N/A', 'N/A', 'N/A', '0.003'],
 ['알제리 DZD', '9.71', 'N/A', 'N/A', 'N/A', 'N/A', '0.007'],
 ['케냐 KES', '9.75', 'N/A', 'N/A', 'N/A', 'N/A', '0.007'],
 ['콜롬비아 COP', '0.29', 'N/A', 'N/A', 'N/A', 'N/A', '0.000'],
 ['탄자니아 TZS', '0.56', 'N/A', 'N/A', 'N/A', 'N/A', '0.000'],
 ['네팔 NPR', '10.03', 'N/A', 'N/A', 'N/A', 'N/A', '0.008'],
 ['루마니아 RON', '292.82', 'N/A', 'N/A', 'N/A', 'N/A', '0.222'],
 ['리비아 LYD', '276.20', 'N/A', 'N/A', '278.96', '273.44', '0.210'],
 ['마카오 MOP', '162.80', 'N/A', 'N/A', 'N/A', 'N/A', '0.124'],
 ['미얀마 MMK', '0.63', 'N/A', 'N/A', 'N/A', 'N/A', '0.001'],
 ['에티오피아 ETB', '24.17', 'N/A', 'N/A', 'N/A', 'N/A', '0.018'],
 ['우즈베키스탄 UZS', '0.12', 'N/A', 'N/A', 'N/A', 'N/A', '0.000'],
 ['캄보디아 KHR', '0.32', 'N/A', 'N/A', 'N/A', 'N/A', '0.000'],
 ['피지 FJD', '590.14', 'N/A', 'N/A', 'N/A', 'N/A', '0.448']]

In [59]:
import pandas as pd

In [83]:
columns = ["통화명", "매매기준율", "현찰(구매)", "현찰(판매)", 
           "송금(보낼때)", "송금(받을때)", "미화환산율"  ]

In [88]:
pd.DataFrame(result, columns=columns)

              통화명     매매기준율    현찰(구매)    현찰(판매)   송금(보낼때)   송금(받을때)  미화환산율
0          미국 USD  1,316.70  1,339.74  1,293.66  1,329.60  1,303.80  1.000
1        유럽연합 EUR  1,445.74  1,474.51  1,416.97  1,460.19  1,431.29  1.098
2   일본 JPY (100엔)    981.62    998.79    964.45    991.23    972.01  0.746
3          중국 CNY    191.46    201.03    181.89    193.37    189.55  0.145
4          홍콩 HKD    167.77    171.07    164.47    169.44    166.10  0.127
5          대만 TWD     43.16     48.81     38.85       N/A       N/A  0.033
6          영국 GBP  1,636.00  1,668.22  1,603.78  1,652.36  1,619.64  1.243
7          오만 OMR  3,419.82  3,724.18  3,214.64       N/A       N/A  2.597
8         캐나다 CAD    983.24  1,002.60    963.88    993.07    973.41  0.747
9         스위스 CHF  1,468.88  1,497.81  1,439.95  1,483.56  1,454.20  1.116
10        스웨덴 SEK    127.71    130.83    124.59    128.98    126.44  0.097
11         호주 AUD    886.47    903.93    869.01    895.33    877.61  0.673
12       뉴질랜드 NZD    817.47    833.57    801.37    825.64    809.30  0.621
13         체코 CZK     61.66     66.90     56.12     62.33     60.99  0.047
14         칠레 CLP      1.66      1.82      1.50       N/A       N/A  0.001
15       튀르키예 TRY     67.88       N/A       N/A     68.62     67.14  0.052
16         몽골 MNT      0.38       N/A       N/A       N/A       N/A  0.000
17       이스라엘 ILS    360.97    397.06    332.10       N/A       N/A  0.274
18        덴마크 DKK    194.01    198.76    189.26    195.95    192.07  0.147
19       노르웨이 NOK    125.73    128.81    122.65    126.98    124.48  0.096
20    사우디아라비아 SAR    351.05    373.16    326.83    354.56    347.54  0.267
21       쿠웨이트 KWD  4,296.76  4,576.04  3,953.02  4,339.72  4,253.80  3.263
22        바레인 BHD  3,492.30  3,715.80  3,212.92  3,527.22  3,457.38  2.652
23     아랍에미리트 AED    358.54    378.25    333.81    362.12    354.96  0.272
24        요르단 JOD  1,856.08  2,021.27  1,707.60       N/A       N/A  1.410
25        이집트 EGP     42.61       N/A       N/A       N/A       N/A  0.032
26         태국 THB     38.40     40.32     36.10     38.78     38.02  0.029
27       싱가포르 SGD    988.03  1,007.69    968.37    997.91    978.15  0.750
28      말레이시아 MYR    297.06    315.77    275.08       N/A    294.09  0.226
29  인도네시아 IDR 100      8.89      9.77      8.01      8.97      8.81  0.007
30        카타르 QAR    360.92       N/A       N/A       N/A       N/A  0.274
31      카자흐스탄 KZT      2.91       N/A       N/A       N/A       N/A  0.002
32       브루나이 BND    988.03  1,027.55    928.75       N/A       N/A  0.750
33         인도 INR     16.04       N/A       N/A       N/A       N/A  0.012
34       파키스탄 PKR      4.64       N/A       N/A       N/A       N/A  0.004
35      방글라데시 BDT     12.40       N/A       N/A       N/A       N/A  0.009
36        필리핀 PHP     23.53     25.88     21.61     23.76     23.30  0.018
37        멕시코 MXN     72.95     80.24     66.83     73.67     72.23  0.055
38        브라질 BRL    264.08    291.01    237.68       N/A    260.92  0.201
39    베트남 VND 100      5.60      6.26      4.94      5.65      5.55  0.004
40  남아프리카 공화국 ZAR     72.47     78.26     66.68     73.33     71.61  0.055
41        러시아 RUB     16.10     17.62     13.29     16.66     15.54  0.012
42        헝가리 HUF      3.89      4.25      3.58      3.93      3.85  0.003
43        폴란드 PLN    311.53    336.45    286.61    314.95    308.11  0.237
44       스리랑카 LKR      4.11       N/A       N/A       N/A       N/A  0.003
45        알제리 DZD      9.71       N/A       N/A       N/A       N/A  0.007
46         케냐 KES      9.75       N/A       N/A       N/A       N/A  0.007
47       콜롬비아 COP      0.29       N/A       N/A       N/A       N/A  0.000
48       탄자니아 TZS      0.56       N/A       N/A       N/A       N/A  0.000
49         네팔 NPR     10.03       N/A       N/A       N/A       N/A  0.008
50       루마니아 RON    292.82       N/A       N/A       N/A       N/A  0.222
51        리비아 LYD    276.20       N/A       N/A    278.96    273.44  0.210
52        마카오 MOP    162.80       N/A       N/A       N/A       N/A  0.124
53        미얀마 MMK      0.63       N/A       N/A       N/A       N/A  0.001
54      에티오피아 ETB     24.17       N/A       N/A       N/A       N/A  0.018
55     우즈베키스탄 UZS      0.12       N/A       N/A       N/A       N/A  0.000
56       캄보디아 KHR      0.32       N/A       N/A       N/A       N/A  0.000
57         피지 FJD    590.14       N/A       N/A       N/A       N/A  0.448

In [87]:
pd.DataFrame(result, columns=columns).to_csv('test.csv', index=False)

In [85]:
import mod_sql

In [86]:
db = mod_sql.Database("localhost", 'root', '1234', 'ubion7', 3306)

In [67]:
# DB에 table 생성 (naver)
# 필드는 7개 모두 필드의 타입은 문자열 구성
# 통화명 필드는 primary key

sql = """
    create 
    table
    `naver`(
        `통화명` varchar(16) primary key,
        `매매기준율` varchar(16),
        `현찰(구매)` varchar(16),
        `현찰(판매)` varchar(16),
        `송금(보낼때)` varchar(16),
        `송금(받을때)` varchar(16),
        `미화환산율` varchar(16)
    )
"""
db.sql_query(sql)

'Query OK'

In [ ]:
# naver라는 이름으로 생성한 테이블에 데ㅔ이터 삽입
# 데이러를 삽입한느 insert문을 작성

In [68]:
sql = """
    insert
    into
    naver
    values(
        '통화',
        '1',
        '2',
        '3',
        '4',
        '5',
        '6'
    )
"""
db.sql_query(sql)

'Query OK'

In [72]:
sql = """
    insert
    into
    naver
    values
    (%s, %s, %s, %s, %s, %s, %s)
"""

values = [1,2,3,4,5,6,7]
db.sql_query(sql, values)

'Query OK'

In [101]:
sql = """
    delete
    from
    `naver`
"""

db.sql_query(sql)

'Query OK'

In [100]:
sql = """
    delete
    from
    `naver`
    where
    `통화명` = '통화'
"""

db.sql_query(sql)

'Query OK'

In [102]:
result

[['미국 USD',
  '1,316.70',
  '1,339.74',
  '1,293.66',
  '1,329.60',
  '1,303.80',
  '1.000'],
 ['유럽연합 EUR',
  '1,445.74',
  '1,474.51',
  '1,416.97',
  '1,460.19',
  '1,431.29',
  '1.098'],
 ['일본 JPY (100엔)', '981.62', '998.79', '964.45', '991.23', '972.01', '0.746'],
 ['중국 CNY', '191.46', '201.03', '181.89', '193.37', '189.55', '0.145'],
 ['홍콩 HKD', '167.77', '171.07', '164.47', '169.44', '166.10', '0.127'],
 ['대만 TWD', '43.16', '48.81', '38.85', 'N/A', 'N/A', '0.033'],
 ['영국 GBP',
  '1,636.00',
  '1,668.22',
  '1,603.78',
  '1,652.36',
  '1,619.64',
  '1.243'],
 ['오만 OMR', '3,419.82', '3,724.18', '3,214.64', 'N/A', 'N/A', '2.597'],
 ['캐나다 CAD', '983.24', '1,002.60', '963.88', '993.07', '973.41', '0.747'],
 ['스위스 CHF',
  '1,468.88',
  '1,497.81',
  '1,439.95',
  '1,483.56',
  '1,454.20',
  '1.116'],
 ['스웨덴 SEK', '127.71', '130.83', '124.59', '128.98', '126.44', '0.097'],
 ['호주 AUD', '886.47', '903.93', '869.01', '895.33', '877.61', '0.673'],
 ['뉴질랜드 NZD', '817.47', '833.57', '801.37', '825.64', '809.30', '0.621'],
 ['체코 CZK', '61.66', '66.90', '56.12', '62.33', '60.99', '0.047'],
 ['칠레 CLP', '1.66', '1.82', '1.50', 'N/A', 'N/A', '0.001'],
 ['튀르키예 TRY', '67.88', 'N/A', 'N/A', '68.62', '67.14', '0.052'],
 ['몽골 MNT', '0.38', 'N/A', 'N/A', 'N/A', 'N/A', '0.000'],
 ['이스라엘 ILS', '360.97', '397.06', '332.10', 'N/A', 'N/A', '0.274'],
 ['덴마크 DKK', '194.01', '198.76', '189.26', '195.95', '192.07', '0.147'],
 ['노르웨이 NOK', '125.73', '128.81', '122.65', '126.98', '124.48', '0.096'],
 ['사우디아라비아 SAR', '351.05', '373.16', '326.83', '354.56', '347.54', '0.267'],
 ['쿠웨이트 KWD',
  '4,296.76',
  '4,576.04',
  '3,953.02',
  '4,339.72',
  '4,253.80',
  '3.263'],
 ['바레인 BHD',
  '3,492.30',
  '3,715.80',
  '3,212.92',
  '3,527.22',
  '3,457.38',
  '2.652'],
 ['아랍에미리트 AED', '358.54', '378.25', '333.81', '362.12', '354.96', '0.272'],
 ['요르단 JOD', '1,856.08', '2,021.27', '1,707.60', 'N/A', 'N/A', '1.410'],
 ['이집트 EGP', '42.61', 'N/A', 'N/A', 'N/A', 'N/A', '0.032'],
 ['태국 THB', '38.40', '40.32', '36.10', '38.78', '38.02', '0.029'],
 ['싱가포르 SGD', '988.03', '1,007.69', '968.37', '997.91', '978.15', '0.750'],
 ['말레이시아 MYR', '297.06', '315.77', '275.08', 'N/A', '294.09', '0.226'],
 ['인도네시아 IDR 100', '8.89', '9.77', '8.01', '8.97', '8.81', '0.007'],
 ['카타르 QAR', '360.92', 'N/A', 'N/A', 'N/A', 'N/A', '0.274'],
 ['카자흐스탄 KZT', '2.91', 'N/A', 'N/A', 'N/A', 'N/A', '0.002'],
 ['브루나이 BND', '988.03', '1,027.55', '928.75', 'N/A', 'N/A', '0.750'],
 ['인도 INR', '16.04', 'N/A', 'N/A', 'N/A', 'N/A', '0.012'],
 ['파키스탄 PKR', '4.64', 'N/A', 'N/A', 'N/A', 'N/A', '0.004'],
 ['방글라데시 BDT', '12.40', 'N/A', 'N/A', 'N/A', 'N/A', '0.009'],
 ['필리핀 PHP', '23.53', '25.88', '21.61', '23.76', '23.30', '0.018'],
 ['멕시코 MXN', '72.95', '80.24', '66.83', '73.67', '72.23', '0.055'],
 ['브라질 BRL', '264.08', '291.01', '237.68', 'N/A', '260.92', '0.201'],
 ['베트남 VND 100', '5.60', '6.26', '4.94', '5.65', '5.55', '0.004'],
 ['남아프리카 공화국 ZAR', '72.47', '78.26', '66.68', '73.33', '71.61', '0.055'],
 ['러시아 RUB', '16.10', '17.62', '13.29', '16.66', '15.54', '0.012'],
 ['헝가리 HUF', '3.89', '4.25', '3.58', '3.93', '3.85', '0.003'],
 ['폴란드 PLN', '311.53', '336.45', '286.61', '314.95', '308.11', '0.237'],
 ['스리랑카 LKR', '4.11', 'N/A', 'N/A', 'N/A', 'N/A', '0.003'],
 ['알제리 DZD', '9.71', 'N/A', 'N/A', 'N/A', 'N/A', '0.007'],
 ['케냐 KES', '9.75', 'N/A', 'N/A', 'N/A', 'N/A', '0.007'],
 ['콜롬비아 COP', '0.29', 'N/A', 'N/A', 'N/A', 'N/A', '0.000'],
 ['탄자니아 TZS', '0.56', 'N/A', 'N/A', 'N/A', 'N/A', '0.000'],
 ['네팔 NPR', '10.03', 'N/A', 'N/A', 'N/A', 'N/A', '0.008'],
 ['루마니아 RON', '292.82', 'N/A', 'N/A', 'N/A', 'N/A', '0.222'],
 ['리비아 LYD', '276.20', 'N/A', 'N/A', '278.96', '273.44', '0.210'],
 ['마카오 MOP', '162.80', 'N/A', 'N/A', 'N/A', 'N/A', '0.124'],
 ['미얀마 MMK', '0.63', 'N/A', 'N/A', 'N/A', 'N/A', '0.001'],
 ['에티오피아 ETB', '24.17', 'N/A', 'N/A', 'N/A', 'N/A', '0.018'],
 ['우즈베키스탄 UZS', '0.12', 'N/A', 'N/A', 'N/A', 'N/A', '0.000'],
 ['캄보디아 KHR', '0.32', 'N/A', 'N/A', 'N/A', 'N/A', '0.000'],
 ['피지 FJD', '590.14', 'N/A', 'N/A', 'N/A', 'N/A', '0.448']]

In [103]:
# result 변수의 데이터를 naver 테이블 삽입
sql = """
    insert
    into
    naver
    values
    (
        %s, %s, %s, %s, %s, %s, %s
    )
"""

for i in range(len(result)):
    values = result[i]
    db.sql_query(sql, values)

In [112]:
sql = """
    delete
    from
    `naver2`
"""

db.sql_query(sql)

'Query OK'

In [111]:
sql = """
    insert
    into
    `naver2`
    (`통화명`, `매매기준율`, `현찰(구매)`, 
    `현찰(판매)`, `송금(보낼때)`, `송금(받을때)`, `미화환산율`)
    values
    (
        %s, %s, %s, %s, %s, %s, %s
    )
"""

#for i in range(len(result)):
#    values = result[i]
#    db.sql_query(sql, values)

for i in result:
    db.sql_query(sql, i)